* {
    box-sizing: border-box;
}

h1, h2, p {
    text-align: center;
}

.days-container {
    width: 100%;
    height: 15vh;
    background-color: rgb(157, 144, 144);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.day {
    width: 100px;
    height: 20px;
    border: solid 2px black;
    text-align: center;
    cursor: pointer;
}

.day-sessions {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;
}

.session {
    width: 150px;
    height: 135px;
    border: solid 2px black;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.current-session {
    display: none;
}

.seats {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.seat {
    width: 50px;
    height: 50px;
    border: solid 2px black;
}