* {
    box-sizing: border-box;
}

h1, h2, p {
    text-align: center;
}

.days-container {
    width: 100%;
    height: 15vh;
    background-color: rgb(157, 144, 144);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.day {
    width: 100px;
    height: 25px;
    border: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.datepicker-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100px;
    height: 25px;
    border: solid 2px black;
    overflow: hidden;
  }
  
  .datepicker-toggle-button {
    position: absolute;
    left: 10px;
    top: 2px;
    height: 16px;
    color: white;
  }

  .datepicker-text {
    position: relative;
    left: 26px;
    
  }
  
  .datepicker-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .datepicker-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

.day-sessions {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;
}

.session {
    width: 150px;
    height: 135px;
    border: solid 2px black;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.current-session {
    display: none;
}

.legend {
  display: flex;
  justify-content: center;
  list-style: square;
}

.legend-item {
  margin: 0 25px;
  vertical-align: middle;
}

.legend-seat {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.occupaied {
  background-color: gray;
}

.free {
  background-color: mediumseagreen;
}

.seats {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.seat {
    width: 50px;
    height: 50px;
    border: solid 2px black;
}